<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title 'Error 404' %></title>
  <link href="<%= prefix_url("assets/application.css") %>" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row-fluid text-info service-page">
      <h1>404 <small>Page not found</small></h1>
      <p class="lead">Sorry, this page is not available.</p>
      <a href="/" class="btn btn-info">Back to home</a>
    </div>
  </div>
</body>
</html>
