<footer class="navbar navbar-fixed-bottom">
  <nav class="navbar-inner">
    <div class="container-fluid">
      <p>Powered by <a href="https://github.com/narkoz/ginatra" target="_blank">Ginatra</a></p>
    </div>
  </nav>
</footer>
