<% title @blob[:name], headline: @repo.name %>

<%= partial :header, locals: { repo: @repo } %>
<%= partial :tree_nav %>

<p><i class="icon-file"></i> <%= @blob[:name] %></p>

<% blob = @repo.find_blob @blob[:oid] %>

<% if blob.binary? %>
  <p>Binary file</p>
<% else %>
  <%= highlight_source blob.content, @blob[:name] %>
<% end %>
