<% title @repo.name, headline: 'Empty repository' %>
<%= partial :header, locals: { repo: @repo } %>

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      Repository is empty.
    </div>
  </div>
</div>
