<div class="page-header">
  <h1>Repositories <small><%= h Ginatra::Config.description %></small></h1>
</div>

<ul class="nav nav-tabs nav-stacked">
  <% Ginatra::RepoList.list.each do |repo| %>
    <li>
      <a href="<%= prefix_url(repo.param) %>">
        <h2>
          <%= repo.name %> <small><%= h repo.description %></small>
        </h2>
      </a>
    </li>
  <% end %>
</ul>
