<h3>Repositories</h3>
<div class="active repo-list">
  <div class="commit-info">
    <%=h Ginatra::App.description %>
  </div>
  <dl>
    <% @repo_list.each do |repo| %>
      <dt><a href="/<%= repo.param %>"><%= repo.name %></a></dt>
      <dd><%=h repo.description %></dd>
    <% end %>
  </dl>
</div>
