<h3>Repositories</h3>
<div class="active repo-list">
  <div class="commit-info">
    <%=h Ginatra::Config.description %>
  </div>
  <dl>
    <% Ginatra::RepoList.list.each do |repo| %>
      <dt><a href="<%= prefix_url(repo.param) %>"><%= repo.name %></a></dt>
      <dd><%=h repo.description %></dd>
    <% end %>
  </dl>
</div>
