.header { margin: 15px 0 -20px 0; }
.filter { margin-top: -10px; padding-bottom: 10px; }
.author-box { padding-top: 10px; }
#loader { margin-top: -20px; }
pre { white-space: pre; }
.btn .caret { margin-left: 3px; }
.img-rounded { border-radius: 4px; }
.clone-hint { font-style: italic; }
.dropdown-hint { padding: 3px 20px; }
.highlight { border-radius: 4px; margin-bottom: 20px; }
.highlight pre { border: none; background-color: #f8f8f8; }
.highlight table td { padding: 0; }
.highlight table .gutter { border-right: 1px solid #c0c0c0; }

.diff-files-list { display: none; }
.repo-list a { color: #337ab7; }
.repo-list a:hover, a:focus { color: #23527c; }
.nav { padding-bottom: 10px; }
.nav > li > a { padding: 7px 15px; }

#diff { padding-top: 20px; }
#diff .added a { color: #468847; }
#diff .changed a { color: #3a87ad; }
#diff .deleted a { color: #b94a48; }

.icon {
  height: 16px;
  width: 16px;
}

.service-page {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

.info-box {
  padding: 20px;
  background-color: #eee;
  border-radius: 6px;
}

.source-wrapper {
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.blob-image {
  max-width: 700px;
  border: 1px solid #fff;
  outline: 1px solid #ccc;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKElEQVQYlWO8f/8+AxJQUFBA5jIx4AU0lWb8//8/Mv/Bgwd0s5uANADTSgitzUUmWwAAAABJRU5ErkJggg==');
}

.blob-image:hover { outline: 1px solid #0088cc; }
