.push { padding-bottom: 40px; }
footer p { margin: 10px 0; }
.header { margin-top: 15px; box-shadow: none; }
.filter { margin-top: -20px; }
.author-box { padding-top: 10px; }
#loader { margin-top: -20px; }
pre { white-space: pre; }
.btn .caret { margin-left: 3px; }
.btn-small .caret { margin-top: 8px; }
.dropdown-menu { border-radius: 3px; }
.img-rounded { border-radius: 4px; }
.clone-hint { font-style: italic; }
.dropdown-hint { padding: 3px 20px; }
.highlight { border-radius: 4px; margin-bottom: 20px; }
.highlight pre { border: none; background-color: #f8f8f8; }
.highlight table td { padding: 0; }
.highlight table .gutter { border-right: 1px solid #c0c0c0; }

#diff { padding-top: 20px; }
#diff .added a { color: #468847; }
#diff .changed a { color: #3a87ad; }
#diff .deleted a { color: #b94a48; }

.btn {
  text-shadow: none;
  background-image: none;
  border-radius: 3px;
  box-shadow: none;
}

.info-box {
  padding: 20px;
  background-color: #eee;
  border-radius: 6px;
}

.source-wrapper {
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.blob-image {
  max-width: 700px;
  border: 1px solid #fff;
  outline: 1px solid #ccc;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKElEQVQYlWO8f/8+AxJQUFBA5jIx4AU0lWb8//8/Mv/Bgwd0s5uANADTSgitzUUmWwAAAABJRU5ErkJggg==');
}

.blob-image:hover { outline: 1px solid #0088cc; }
