/* Main Colours */
body {
	background: #fff;
}
#footer {
	border-top: 1px solid #eee;
	background: #EFEFF7;
}
h3{
	background: #F2F2F2;
	color: #224FBA;
	font-weight: bold;
}
div.active{
  border-top: 3px solid #dde;
	background: #EFEFF7;
}
a         { color: #333; }
a:visited { color: #555; }
a:hover,
a:active  { color: #333; }
.quiet    { color: #7F7F7F; }
/* End Main Colours */

/* Type Colours */
body { color: #222; }
h1 { color: #224FBA; background: #E6E6F2;}
h1 a, h1 a:visited, h1 a:hover, h1 a:active { color: #224fba; text-decoration: none; }
h2 a, h2 a:visited, h2 a:hover, h2 a:active { text-decoration: none; }
/* End Type Colours */

/* Table Colours */
td, dt {
	border-top: 1px solid #7F7F7F;
}
.repo-info, .ginatra-info, dl, td {
  background: #E6E6F2;
}
.repo-list dl dt:first-child{
	border-top: none;
}
/* End Table Colours */

/* Commit Colours */
.commit-info, 
.commit-author, 
.commit-committer,
.short-commit-message,
.commit-tree,
.commit-diff,
div.blob {
	background: #E6E6F2;
}
.commit-author img, 
.commit-committer img {
	border: 1px solid #7F7F7F;
}
.commit-tree .tree {
  background: url('../img/tree.png') no-repeat top left;
}
.commit-tree .blob {
  background: url('../img/doc.png') no-repeat top left;
}
.commit-diff h4,
div.blob h4 {
  background: #e7e7e7;
}
li.diff { background: url('../../img/diff.png') no-repeat center left; }
li.add a{ color: #080; }
li.add { background: url('../../img/add.png') no-repeat center left; }
li.rm {
  color: #800;
  background: url('../../img/rm.png') no-repeat center left;
}
a.ref    { background-color: #7782FC; color: #fff;}
a.head   { background-color: #7782FC; }
a.tag    { background-color: #d95959; }
a.remote { background-color: #fafa78; }

/* End Commit Colours */