/*.commit-message,*/
.commit-message {
	padding-right: 3.75em;
}

.commit-info,
.ginatra-info, 
.commit-author, 
.commit-committer,
.repo-info,
.short-commit-message {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 1ex 0;
	padding: 1ex;
	font-size: 12px;
}

.commit-author img, 
.commit-committer img {
  float: left;
  margin: 1.5ex 0 0 0;
	width:  40px;
	height: 40px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.commit-info tr:first-child td,
.commit-author tr:first-child td,
.commit-committer tr:first-child td,
.commit-files tr:first-child td,
.commit-log tr:first-child td,
.repo-refs tr:first-child td {
	border-top: 0;
}

.first-no-border {
	border-top: 0;
}

.commit-files,
#commit-log {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 0;
	margin: 1ex 0;
}

#commit-log {
  width: 50em;
}

#commit-log .commit {
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#commit-log .commit .id a {
  text-decoration: underline;
}

#commit-info {
  background: #123;
}

#commit-info dl dt {
  float: left;
}

#commit-info dl dd {
  float: right;
}

#commit-info dl dd a {
  text-decoration: underline;
}

#commit .diff {
  border: 1px solid black;
}

#commit .file_diff {
  font-family: Menlo, Monaco, Monospace;
}

#commit .file_diff .rm {
  background: #EB8E8B;
}

#commit .file_diff .add {
  background:#91EB81;
}

#commit #files {
  margin-top: 1em;
  margin-bottom: 1em;
}

#commit .file_diff .rm .sign, #commit .file_diff .add .sign {
  position: relative;
  left: 10px;
}

.single-commit #message {
  margin-top: 10px;
  width: 50em;
  background: #dcdcdc;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.repo-refs {
  margin: 1ex;
  float: right;
}

.commit-files img {
	width: 16px;
}

.commit-files td {
	padding: 0 2px 0;
}

.commit-files td + td {
	padding: 0 0.5ex;
}

#commit-log .mesg,
#commit-log .date,
#commit-log .author,
.commit-shortlog .id,
.commit-shortlog .author,
.commit-shortlog .date {
	font-size: 12px;
}

#commit-log .date,
.commit-shortlog .id,
.commit-shortlog .author,
.commit-shortlog .date {
	line-height: 24px;
}

.commit-diff,
div.blob {
	font-size: 12px;
	line-height: 14px;
	margin: 0 0 1ex;
	padding: 2ex;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	clear: both;
}

.repo-info {
	float: left;
	font-size: 14px;
	margin-left: 2em;
}

.commit-tree {
  clear:both;
	padding: 0 1ex;
	margin: 1ex 0;
	font-size: 14px;
	line-height: 1.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.commit-tree li {
	padding-left:18px;
}

.short-commit-message {
	float: left;
}

.commit-diff h4,
.blob h4 {
  font-weight:bold;
  font-size:1.5em;
  line-height:1.5em;
  width:53.35em;
  margin-top: 0.5em;
  -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

h4 img{
  padding:0 4px;
}

.commit-diff pre code,
div.blob pre code {
  padding: 0.5ex;
}

.diff {
  padding-left:18px;
}

div.blob{
  margin-top:1ex;
  padding-top:0.5ex;
}
