@import url("reset.css"); 
@import url("type.css");
@import url("table.css");
@import url("commit.css");

html {
	height: 100%;
}
body {
	height: 100%;
	font-size: 16px;
	line-height: 1.5em;
	background: #ccc;
	color: #444;
}
#content {
	min-height: 100%;
	margin-bottom: -2.6em;
	padding: 0 1em;
}
#footer-spacer {
	clear: both;
	height: 2.1em;
	padding: 1ex 1ex 0 1ex;
}
#inner {
	padding: 1ex;
}
#footer{
	clear: both;
	position: relative;
	height: 2em;
	width: auto;
	margin: 0 3ex;
	padding: 1ex 1ex 0 1ex;
	border-top: 1px solid #eee;
	background: #eee;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
}
h3{
	background: #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	margin: 1ex 0 0;
	clear: both;
	width: auto;
}
div.active{
  border-top: 3px solid #555;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	background: #aaa;
	padding: 0 1ex 0.5ex;
	margin: 0 0 1ex;
	clear: both;
	width: auto;
}
.message {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin: 3px 0;
	padding: 5px 40px 5px;
}
.excl {
	background: rgb(255, 255, 204) url('../img/excl.png') no-repeat 3px center;
	border: 1px solid rgb(255, 250, 120);
}
.info {
	background: rgb(187, 187, 255) url('../img/info.png') no-repeat 3px center;
	border: 1px solid rgb(120, 120, 255);
}
.error {
	background: rgb(255, 221, 221) url('../img/error.png') no-repeat 3px center;
	border: 1px solid rgb(255, 187, 187);
}
a {
	color: #444;
	text-decoration: none;
}
a:visited {
	color: #666;
}
a:hover, a:active{
	color: #444;
	text-decoration: underline;
}
.quiet {
	color: #888;
}
.clearfix{
  height:1px;
  width:1px;
  overflow: hidden;
  clear:both;
}

