@import url("reset.css"); 
@import url("type.css");
@import url("table.css");
@import url("commit.css");
@import url("colour.css");
@import url("lists.css");
@import url("tango.css");

html {
	height: 100%;
}
body {
	height: 100%;
	font-size: 16px;
	line-height: 1.5em;
}
#content {
	min-height: 100%;
	margin-bottom: -2.6em;
	padding: 0 1em;
}
#footer-spacer {
	clear: both;
	height: 2.1em;
	padding: 1ex 1ex 0 1ex;
}
#inner {
	padding: 1ex;
}
#footer{
	clear: both;
	position: relative;
	height: 2em;
	width: auto;
	margin: 0 3ex;
	padding: 1ex 1ex 0 1ex;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
}
h1 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
h3{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	margin: 1ex 0 0;
	clear: both;
	width: auto;
}
div.active{
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	padding: 0 1ex 0.5ex;
	margin: 0 0 1ex;
	clear: both;
	width: auto;
}
a              {	text-decoration: none; }
dt a,
table a,
.commit-tree a {	text-decoration: underline; }
a:visited      { }
a:hover, 
a:active       { text-decoration: underline; }
.clearfix{
  height:1px;
  width:1px;
  overflow: hidden;
  clear:both;
}

a.ref,
a.download,
a.atom {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 2px;
  padding: 2px;
  font-size: 14px;
  line-height: 18px;
}
h3 a.ref{
  margin-left: 1em;
}
