.list {
  width: 15em;
  float: right;
}

.list h3 {
  margin: 0px;
  background: transparent;
}

.list ul, .list p {
  margin-left: 0.55em;
}

.list ul li a {
  text-decoration: underline;
}

.list div {
  margin: 5px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: left;
}
