table{
	padding: 1ex 0;
}
td, th{
 padding: 0 1ex;
}
td{}
th{}
th:first-child{
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
}
th:last-child{
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
}
dl {
  margin: 1ex 0;
}
dt {
  padding: 0 1ex;
	font-weight: bold;
	display: block;
}
.repo-list dl dt:first-child {
	border-top: none;
}
dd {
  padding: 0 1ex;
	font-size: 12px;
	line-height: 24px;
	text-indent: 1em;
}