body {
  font-size: 16px;
	line-height: 1.5em; /* 24px */
	font-family: "helvetica" serif;
}
h1{
	font-size: 3em;     /* 48px */
	line-height: 1.5em; /* 72px */
	font-weight: bold;
	font-variant: small-caps;
	padding: 0 16px;
}
h2 {
	font-size: 2.25em; /* 36px */
	line-height: 1.33em; /* 48px */
	padding: 0 8px;
	font-weight: bold;
	float: left;
}
h3{
	font-size: 1.5em; /* 24px */
	line-height: 2em; /* 48px */	
	padding: 0 8px;
}
pre, code {
  font-family: monospace;
}
